<div class="container margin-top" *ngIf="workSessions.length > 0">
  <div class="row">
    <div class="col-12">
      <table class="table table-secondary">
        <thead>
          <th>Project name</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr *ngFor="let workSession of workSessions">
            <td>{{workSession.name}}</td>
            <td>{{workSession.startDate | date: DATE_FORMAT}}</td>
            <td>{{workSession.endDate | date: DATE_FORMAT}}</td>
            <td>{{getDuration(workSession.endDate,workSession.startDate)}}</td>
            <td>
              <button class="btn btn-warning">
                EDIT
              </button>
            </td>
            <td>
              <button class="btn btn-danger">
                X
              </button>
            </td>
          </tr>
          <tr *ngIf="coutingStart">
            <td>...</td>
            <td>{{coutingStart| date: DATE_FORMAT}}</td>
            <td>...</td>
            <td>...</td>
            <td>
              &nbsp;
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteCurrentWorkSession()">
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
